<div class="page">
    <mat-tab-group>
        <mat-tab label="Employees">
            <ng-template matTabContent>
                <app-employees></app-employees>
            </ng-template>
        </mat-tab>
        <mat-tab label="Leaves">
            <ng-template matTabContent>
                <app-leaves></app-leaves>
            </ng-template>
        </mat-tab>
        <mat-tab label="Claims">
            <ng-template matTabContent>
                <app-claims></app-claims>
            </ng-template>
        </mat-tab>
    </mat-tab-group>


</div>